/* font-family: 'Raleway', sans-serif;
font-family: 'Macondo Swash Caps', cursive; */

.smurf-list {
  /* border: 1px solid red; */

  padding: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  min-height: 100vh;
  background: rgb(46, 16, 145);
}

.add-smurf-form h2 {
  text-align: center;
  font-size: 1.6rem;
  font-family: "Raleway", sans-serif;
}

.smurf {
  border-radius: 10px;
  min-width: 30%;
  max-width: 50%;
  padding: 1rem;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  min-height: 150px;
  max-height: 300px;
  background: rgb(97, 54, 238);
  /* margin-bottom: 10px; */
  -webkit-box-shadow: 0px 10px 5px -5px rgba(0, 0, 0, 0.28);
  -moz-box-shadow: 0px 10px 5px -5px rgba(0, 0, 0, 0.28);
  box-shadow: 0px 10px 5px -5px rgba(0, 0, 0, 0.28);
}

.smurf .smurf-name {
  color: #cccccc;
  font-weight: 600;
  text-align: center;
  font-family: "Macondo Swash Caps", cursive;
  font-size: 2rem;
}

.smurf-attributes {
  font-family: "Raleway", sans-serif;
  font-size: 1.1rem;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
}
